{% extends "layout.html" %}
{% block content %}
<section id="showcase">
    <div class="container">
        <div class="showcase-calc">
                {% if error %}
                <h2>Oops! Something went wrong.</h2>
                <p>One of the following could have happened:</p>
                <ul>
                    <li>The company ticker/symbol was not entered correctly</li>
                    <li>The company was not public at the date entered</li>
                </ul>
                {% else %}
                <h2> Your $10,000 investment would now be worth <b>${{ content.curr_val }}</b></h2>
                {% endif %}
                <br>
                <br>
                <a class="btn btn-default btn-lg showcase-btn" href="{{url_for('index')}}">Go Back</a>
                <a class="btn btn-default btn-lg showcase-btn btn-warning" href="https://robinhood.com/" target="_blank">Invest Today</a>
                <br>
        </div>
    </div>
</section>
{% endblock content %}